
.cuisine_type{
    display: inline;
    
    height: 10%;
   
    background: #fff;
    transition: transform .3s ease-out;
    left:10px;
   border-radius: 10px;
    margin-left: 20%;
    width:40%;
    overflow:hidden;
    margin-top: 20px;
}