


.cuisine_type{
    display: inline;
    
    height: 50%;
   
    background: #fff;
    transition: transform .3s ease-out;
    left:10px;
   
    margin-left: 20%;
    width:50%;
    overflow:hidden;
    margin-top: 20px;
}